button {
  cursor: pointer;
}

.btn {
  height:30px;
  outline: 0;
  border-radius: 3px;
  transition: all $hover-transition;
  font-size: 12px;
  &--primary {
    font-weight: bold;
    background: $color-yellow;
    color: $color-code-gray;
    border: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
    &:hover {
      background: darken($color-yellow, 5%);
    }
  }
  &--transparent {
    outline: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background: none;
    transition: all $hover-transition;
    color: $color-white;
    &:hover {
      background: $color-white;
      color: $color-code-gray;
    }
  }
}

.prev-next-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .btn {
    width: 30px;
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }
  }
}