.chart {
  padding: 16px 64px;
  border: solid 1px $color-silver;
  &--bar {
    dl {
      display: flex;
      background-color: $color-white;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      position: relative;
      padding: 0;
      margin: 0;
    }

    dd {
      padding-bottom: 0;
      margin: 0;
    }

    dt {
      align-self: flex-start;
      width: 100%;
      font-weight: 700;
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
      span {
        display: block;
        font-weight: normal;
        color: $color-chalise;
        font-size: 12px;
      }
    }

    .text {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: $color-white;
      position: absolute;
      left: 0;
      justify-content: flex-start;
      padding-right: 16px;
    }

    .percentage {
      font-size: 14px;
      line-height: 1;
      width: 100%;
      height: 40px;
      background: repeating-linear-gradient(to right, $color-alabaster, $color-alabaster 1px, $color-white 1px, $color-white 5%);

      .bar {
        content: "";
        display: block;
        width: 50px;
        margin-bottom: 10px;
        height: 90%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        span {
          position: absolute;
          width: 70px;
          font-size: 12px;
          top: 12px;
          right: -75px;
        }
      }
    }

    @for $i from 1 through 100 {
      .percentage-#{$i} {
        .bar {
          $value: ($i * 1%);
          width: $value;
        }
      }
    }
  }
  &--pie {
    &--title {
      display: block;
      text-align: center;
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__inner {
      display: flex;
      justify-content: center;
    }
    &__l {
      .pie {
        border-radius: 50%;
        width: 200px;
        height: 200px;
      }
    }
    &__r {
      .key {
        font-size: 14px;
        list-style: none;
        display: table;
        border-collapse: separate;
        margin: 0;
        padding-left: 24px;
        &--color {
          width: 15px;
          height: 15px;
          display: inline-block;
        }
      }
    }
  }
}