@-moz-keyframes heroFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes heroFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes heroFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  border-bottom: solid 1px $color-code-gray;
  color: $color-code-gray;
  &::after {
    clear: both;
  }

  .hamburger-box {
    top: 2px;
  }

  &--dark {
    background: $color-code-gray;
    .hamburger {
      .hamburger-inner {
        background-color: $color-white;
        &, &::before, &::after {
          background-color: $color-white;
        }
      }
      &.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          background-color: $color-white;
        }
      }
    }
    .logo {
      color: $color-white;
      &:hover {
        color: darken(#ccc, 10%)
      }
    }
  }

  &--light {
    background: $color-white;
    .hamburger {
      .hamburger-inner {
        background-color: $color-code-gray;
        &, &::before, &::after {
          background-color: $color-code-gray;
        }
      }
      &.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          background-color: $color-code-gray;
        }
      }
    }
    .logo {
      color: $color-code-gray;
    }
  }
}