.logo {
  display: inline-block;
  line-height: normal;
  position: relative;
  text-decoration: none;
  &__main {
    font-family: 'Domine', serif;
    font-size: 25px;
  }
  &__tag {
    font-size: 11px;
    position: relative;
    top: 25px;
    letter-spacing: 5px;
    position: absolute;
  }
}