@-webkit-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.nav {
  @include animation(navFadeIn, 0.5s, ease-out);
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $color-code-gray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 48px 24px 0 24px;
  & > div {
    width: 100%;
    max-width: 900px;
    a {
      line-height: 80px;
      text-decoration: none;
      text-transform: capitalize;
      color: $color-white;
      width: 100%;
      max-width: 1000px;
      font-size: 64px;
      margin: 10px 0;
      font-weight: bold;
      transition: all $generic-transition-time;
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(65%,transparent),color-stop(10%,#8a8a8a));
      background-image: linear-gradient(180deg,transparent 65%,#8a8a8a 0);
      background-size: 0 80%;
      background-repeat: no-repeat;
      text-decoration: none;
      -webkit-transition: background-size .4s ease;
      transition: background-size .4s ease;

      &:hover {
        background-size: 100% 80%;
        cursor: pointer;
      }
    }
    @media only screen and (max-width: 800px) {
      a {
        font-size: 48px;
      }
    }
  }
  &__social-media-links {
    list-style-type: none;
    width: 100%;
    max-width: 900px;
    li {
      margin-right: 16px;
      width: 16px;
      height: 16px;
      float: right;
      a {
        color: $color-white;
        transition: color $generic-transition-time;
        &:hover {
          color: $color-chalise;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    &__social-media-links {
      margin: 0;
      padding: 0 32px;
      bottom: 16px;
      position: absolute;
      width: 100%;
      text-align: left;
      li {
        margin: 0 0 16px 16px;
      }
    }
  }
}