@-webkit-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes navFadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.nav {
  @include animation(navFadeIn, 0.5s, ease-out);
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: $color-code-gray;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
  padding-top: 100px;
  & > a {
    text-decoration: none;
    color: $color-white;
    width: 100%;
    max-width: 1000px;
    font-size: 60px;
    font-weight: bold;
    transition: all $generic-transition-time;
    &:hover {
      color: $color-yellow
    }
  }
}