.par {
  margin: 0 auto;
  a {
    color: $color-blue;
    text-decoration: none;
  }
  p {
    font-size: 18px;
    margin: 36px 0 0 0;
    line-height: 36px;
  }
  img {
    margin-bottom: 0;
  }

  h2 {
    margin: 72px 0 8px 0;
    font-size: 32px;
  }

  h3 {
    margin: 0 0 8px 0;
    font-size: 20px;
  }

  ul {
    margin-top: 16px;
  }

  .float-left {
    margin: 0 24px 24px 0;
  }

  .float-right {
    margin: 0 0 24px 24px;
  }

  &.spacing {
    margin-top: 36px!important;
    &--none {
      margin-top: 0!important;
    }
  }
  &--normal-width {
    max-width: 904px;
    padding: 0 48px;
  }
  &--medium-width {
    max-width: 1100px;
    padding: 0 48px;
  }
  &--wide-width {
    max-width: 1200px;
    padding: 0 48px;
  }
  &--full-width {
    max-width: 100%;
    padding: 0 80px;
  }

  &__img-container {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .col {
    flex: 1;
    padding: 5px;
    &--img {
      height: 450px;
      background-size: cover;
      background-position: center;
    }
  }

  .img-caption {
    font-size: 12px;
    display: block;
    text-align: center;
    font-style: italic;
    padding: 5px;
  }

}
.user-persona {
  display: flex;
  max-width: 1024px;
  padding: 16px;
  align-items: stretch;
  &--light {
    border: solid 1px $color-code-gray;
    border-radius: 5px;
  }
  &__sub-info {
    font-size: 16px;
    font-weight: normal;
    display: block;
  }
  &__quoet {
    font-size: 20px;
    margin-top: 36px;
    display: block;
    font-style: italic;
    font-weight: bold;
  }
  &__left-section {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  &__photo {
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  &__right-section {
    flex: 2;
    padding-left: 24px;
    font-size: 14px;
    p {
      font-size: 14px;
      margin-top: 16px;
    }
    ul {
      margin-bottom: 0;
      padding: 0;
      margin: 15px 0 0 15px;
    }
    &__bottom {
      display: flex;
      padding-top: 36px;
      strong {
        font-size: 16px;
      }
      & > div {
        padding-right: 16px;
      }
    }
  }
}