.par {
  margin: 0 auto;
  a {
    color: $color-blue;
    text-decoration: none;
  }
  p {
    font-size: 18px;
    margin: 36px 0 0 0;
    line-height: 36px;
  }
  img {
    margin-bottom: 0;
  }

  h2 {
    margin: 72px 0 8px 0;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    margin: 0 0 8px 0;
  }

  ul {
    margin-top: 16px;
  }
  &--normal-width {
    max-width: 776px;
    padding: 0 48px;
  }
  &--medium-width {
    max-width: 1024px;
    padding: 0 48px;
  }
  &--full-width {
    max-width: 100%;
    padding: 0 80px;
  }

  .img-caption {
    font-size: 12px;
    display: block;
    text-align: center;
    font-style: italic;
  }
}