

.envisio-plan {
  border: solid 1px $color-code-gray;
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .card {
      display: inline-block;
    }
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .card {
      flex: 0 0 auto;
      margin-right: 16px;
    }
  }

  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;
    &--goal {
      background: #ECF1FF;
    }

    &--strategy {
      background:#EDF3F5;
    }

    &--action {
      background:#D3E3E3;
    }
  }

  .card {
    width: 200px;
    height: 150px;
    background: $color-silver;
    border-radius: 3px;
    padding: 8px 16px;
    &__title {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    height: 200px;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}