* {
  box-sizing: border-box;
}
html {
  // background: $color-code-gray;
  font-family: $font-generic-type;
  font-size: $font-generic-size;
  body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}