* {
  box-sizing: border-box;
}
html {
  // background: $color-code-gray;
  font-family: $font-generic-type;
  font-size: $font-generic-size;
  body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3 {
  letter-spacing: 0.5px;
}

input[type='text'], input[type='email'], select {
  height: 32px;
  border: solid 1px $color-silver;
  border-radius: 3px;
  padding: 0 8px;
}

textarea {
  padding: 8px;
  border: solid 1px $color-silver;
}

.required {
  color: $color-red;
}