$color-code-gray: #101010;
$color-white:     #ffffff;
$color-silver:    #bbbbbb;
$color-yellow:    #ffffff;

$font-generic-type: 'Helvetica', sans-serif;
$font-generic-size: 18px;

$generic-transition-time: 0.5s;