.interior-page {
  width: 100%;
  padding-top: 48px;
  &--overflow-hidden {
    overflow: hidden;
    height: 100vh;
  }
  &__heading {
    text-align: center;
    max-width: 904px;
    padding: 0 48px;
    margin: 0 auto 0 auto;
    padding: 40px 0 40px;
    h1 {
      font-size: 40px;
      font-family: $font-header;
      letter-spacing: 1px;
      margin-bottom: 0px;
    }
    &__date {
      font-size: 14px;
      color: $color-chalise;
    }
    &__img {
      max-width: 1056px;
      height: 504px;
      margin: 0 auto;
      -webkit-box-shadow: 0px 0px 6px -1px rgba(51,51,51,0.6);
      -moz-box-shadow: 0px 0px 6px -1px rgba(51,51,51,0.6);
      box-shadow: 0px 0px 6px -1px rgba(51,51,51,0.6);
      img {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    padding-bottom: 40px;
    img {
      max-width: 100%;
    }
  }
  .thumbnail-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin: 0 auto;
    &__thumbnail {
      flex: 1 0 25%;
      padding: 0 16px;
      border: none;
      text-decoration: none;
      margin-bottom: 48px;
      &:hover {
        background: none;
        color: $color-code-gray;
      }
      &__img {
        height: 180px;
        background-color: $color-code-gray;
        background-size: cover;
        background-position: center;
        // border: solid 1px $color-code-gray;
        box-shadow: rgba(51, 51, 51, 0.6) 0px 0px 6px -1px;
      }
      strong, span {
        display: block;
      }
      span {
        padding: 8px 0;
        font-size: 12px;
        color: $color-chalise;
      }
      strong {
        font-family: $font-header;
        font-size: 18px;
        line-height: 20px;
        color: $color-code-gray;
        letter-spacing: 0.5px;
      }
      &__blurb {
        margin-top: 8px;
        font-size: 14px;
      }
      .btn {
        margin-top: 16px;
      }
    }
  }
}