.interior-page {
  width: 100%;
  &__content {
    img {
      max-width: 100%;
    }
  }
  &__heading {
    text-align: left;
    max-width: 776px;
    padding: 0 48px;
    margin: 72px auto 40px auto;
    h1 {
      font-size: 30px;
      margin-bottom: 8px;
      line-height: 36px;
    }
    &__date {
      font-size: 14px;
      color: $color-silver;
    }
    &__img {
      max-width: 1056px;
      height: 504px;
      background: #ffc700;
      margin: 0 auto;
    }
  }
}