// @import './splash';
// @import './splash-slides/planswift';
// @import './splash-slides/world-revolution';
@-webkit-keyframes heroSlideAnimation {
  0%   { left: -100%; }
  100% { left: 0%; }
}

@-moz-keyframes heroSlideAnimation {
  0%   { left: -100%; }
  100% { left: 0%; }
}

@-o-keyframes heroSlideAnimation {
  0%   { left: -100%; }
  100% { left: 0%; }
}

@-webkit-keyframes heroFadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes heroFadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes heroFadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes heroFadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes overlayShow {
  0% {
    opacity: 1;
  }
  1% {
    display: block;
    opacity: 0.2;
  }
  100% {
    display: block;
    opacity: 1.5;
  }
}
.home-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: $color-white;
  background: $color-black;
  .header {
    position: absolute;
    background: none;
    border: none;
    .hamburger {
      .hamburger-inner {
        background-color: $color-white;
        &, &::before, &::after {
          background-color: $color-white;
        }
      }
      &.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          background-color: $color-white;
        }
      }
    }
    .logo {
      color: $color-white;
    }
  }
  .hero-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    &__background {
      background-color: $color-black;
      animation-delay: 2s;
      @include animation(heroFadeOut, 1s, ease-out);
      background-position: center;
      background-repeat: none;
      background-size: cover;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    &__slide {
      display: flex;
      z-index: 2;
      flex: 1;
      align-items: flex-end;
      position: relative;
      background-size: cover;
      background-position: center center;
      @include animation(heroFadeOut, 2s, ease-out);
    }
    &__slide-nav-container{
      list-style-type: none;
      position: absolute;
      padding-top: 30px;
      height: 80px;
      width: 100%;
      bottom: 0px;
      z-index: 2;
    }
    &__slide-nav-center {
      display: flex;
      position: relative;
      padding: 0 24px;
      margin: 0 auto;
      align-items: center;
      justify-content: flex-end;
      &__controller {
        display: flex;
        align-items: center;
        margin-left: 32px;
        strong {
          margin-right: 15px;
          overflow: hidden;
          span {
            position: relative;
            @include animation(heroFadeOut, 1s, ease-out);
          }
        }
      }
    }
    &__slide-nav {
      width: 40px;
      height: 4px;
      overflow: hidden;
      position: relative;
      background: rgba(255, 255, 255, 0.5);
      margin-right: 16px;
      cursor: pointer;
      .box--overlay {
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
        &:hover {
          opacity: 0;
        }
      }
      &--active {
        cursor: auto;
        background: $color-white;
        .hero-container__slide-nav-inner {
          border: solid 2px $color-white;
          transition: all $generic-transition-time;
          -webkit-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
          -moz-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
          box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
          .box--overlay {
            display: none;
          }
          strong {
            display: none;
          }
        }
      }
    }
    &__project-info {
      display: flex;
      max-width: 800px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0 15px;
      position: relative;
      z-index: 2;
      align-items: center;
      &--l {
        width: 200px;
        padding-right: 50px;
        overflow: hidden;
        img {
          margin-top: 15px;
          max-width: 100%;
          position: relative;
          @include animation(heroFadeOut, 1s, ease-out);
        }
      }
      &--r {
        flex: 1;
        padding-left: 50px;
        overflow: hidden;
        h1 {
          position: relative;
          margin: 0;
          font-size: 48px;
          font-family: $font-header;
          letter-spacing: 1.5px;
          @include animation(heroSlideAnimation, 1s, ease-out);
        }
        span {
          position: relative;
          display: block;
          @include animation(heroSlideAnimation, 1.5s, ease-out);
        }
        .btn--reverse {
          margin-top: 20px;
          position: relative;
          width: 150px;
          // @include animation(heroSlideAnimation, 2s, ease-out);
          -webkit-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
          -moz-box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
          box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.53);
        }
      }
    }
  }
}