.splash {
  background: $color-code-gray;
  height: 100vh;
  position: relative;
  .header {
    position: absolute;
    top: 20px;
    padding: 0 25px;
  }
  &__bottom {
    position: absolute;
    padding: 0 25px 25px 25px;
    color: $color-white;
    bottom: 0;
  }
  &__client {
    float: left;
    display: inline-block;
    span {
      font-size: 12px;
    }
    &-logo {
      width: 200px;
      height: 40px;
      background: $color-white;
    }
  }
}