@keyframes moveIt {
  0% {background-position: center bottom;}
  100% {background-position: center top;}
}

@keyframes planswiftFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.world-revolution {
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    width: 100%;
    height: 100vh;
    z-index: 2;
    color: $color-white;
    background-size: cover;
    background-repeat: repeat-y;
    animation: moveIt 2s linear;
    -webkit-animation: moveIt 2s linear;
    -moz-animation: moveIt 2s linear;
    -o-animation: moveIt 2s linear;
    animation-fill-mode: forwards;
  }
  &__img-container {
    display: flex;
    flex-direction: row;
  }
  &__logo-text, &__logo-earth {
    max-width: 300px;
    opacity: 0;
    -webkit-animation: planswiftFadeIn 2s;
    -moz-animation: planswiftFadeIn 2s;
    -o-animation: planswiftFadeIn 2s;
    animation: planswiftFadeIn 2s;
    animation-fill-mode: forwards;
  }
  &__logo-text {
    animation-delay: 2s;
  }
  &__logo-earth {
    animation-delay: 2.5s;
  }
}